{% extends 'core/base.html' %}
{% load humanize %}
{% block content %}
<div class="container" id="profilefeeds">
    <div class="columns">
        <div class="column is-12">
            <h1 class="title">{{ user.username  }}</h1>
            <div class="follows-block">
                {% if user.userprofile.avatar %}
                <figure class="image is-128x128">
                    <img class="is-rounded"  src="{{ user.userprofile.avatar.url }}" alt="{{ user.userprofile.username }}"
                        title="{{ user.userprofile.username }}" />
                </figure>
                {% endif %}
                <p class="followers"><a href="{% url 'followers' user.username %}">Followers : {{  user.userprofile.followed_by.count }}</a></p>
                <p class="following"><a href="{% url 'follows' user.username %}">Follows : {{  user.userprofile.follows.count }}</a></p>
            </div>
            {% if user != request.user %}
                {% if request.user.userprofile in user.userprofile.followed_by.all %}
                    <a href="{% url 'unfollow_user' user.username %}" class="button is-warning">Unfollow &nbsp; <i class="fas fa-thumbs-down"></i></a>
                {% else %}
                    <a href="{% url 'follow_user' user.username %}" class="button is-primary">Follow &nbsp; <i class="fas fa-thumbs-up"></i></a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="columns">
        <div class="column is-8">
            <div class="wrapper-feeds">
                {% for post in posts %}
                <div class="feed">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                {% if user.userprofile.avatar %}
                                    <img class="is-rounded" src="{{ user.userprofile.avatar.url }}" alt="{{ user.userprofile.username }}"
                                        title="{{ user.userprofile.username }}" />
                                {% endif %}
                            </p>

                        </figure>
                        <div class="media-content">
                            <div class="content">
                                    <p>
                                        <strong>{{ post.created_by.username }}</strong>
                                        {{  post.created_at|naturaltime }}
                                        <br/>
                                        {{ post.body }}
                                        <br/>
                                        <br/>
                                        <a @click="likePost({{ post.id }})" v-if="!liked_posts.includes({{ post.id }})"><i class="far fa-thumbs-up"></i></a>
                                        <span v-if="liked_posts.includes({{ post.id }})"><i class="fas fa-thumbs-up"></i></span>
                                        <small id="liked-{{ post.id }}">{{ post.likes.count }} likes </small>
                                    </p>
                            </div>
                        </div>
                    </article>        
                </div>
                {% endfor %}
            
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#profilefeeds',
        delimiters: ['[[', ']]'],
        data() {
            return {
                posts: [],
                liked_posts: [{% for post in posts %}{% if post.liked %} {{ post.id }}, {% endif %} {% endfor %}],
        }
    },
        methods: {
        likePost(post_id) {
            this.liked_posts.push(parseInt(post_id))

            var post = {
                'post_id': post_id
            };

            fetch('/api/like_feed', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(post)
            })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error);
                });

            const el = document.getElementById('liked-' + post_id);
            const likes = parseInt(el.innerHTML.split(' ')[0]) + 1;
            el.innerHTML = likes + ' likes';
        }
    }
    })
</script>
{% endblock %}