{% extends 'core/base.html' %}
{% load humanize %}
{% block content %}
<div class="container" id="feeds">
    <div class="columns">
        <div class="column is-12">
            <div class="wrapper-form">
                <form v-on:submit.prevent="submitPost()">
                    <div class="field">
                       <div class="control">
                           <textarea class="textarea" v-model="body" placeholder="What's going on ?"></textarea>
                       </div>
                    </div>
                    <div class="field">
                       <div class="control">
                           <button class="button is-success">Post</button>
                       </div>
                    </div>


                </form>
            </div>
            <div class="wrapper-feeds">
                <div class="feed" v-for="post in posts">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                {% if user.userprofile.avatar %}
                                <img class="is-rounded" src="{{ user.userprofile.avatar.url }}"
                                    alt="{{ user.userprofile.username }}" title="{{ user.userprofile.username }}" />
                                {% endif %}
                            </p>
                    
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>[[ post.user_posted ]]</strong>
                                    [[ post.created_at ]]
                                    <br />
                                    [[ post.body ]]
                                </p>
                            </div>
                        </div>
                    </article>

                </div>
                {% for post in posts %}
                <div class="feed">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                {% if post.created_by.userprofile.avatar %}
                                <img class="is-rounded" src="{{ post.created_by.userprofile.avatar.url }}" alt="{{ post.created_by.userprofile.username }}"
                                    title="{{ post.created_by.userprofile.username }}" />
                                {% endif %}
                            </p>
                    
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ post.created_by.username }}</strong>
                                    {{  post.created_at|naturaltime }}
                                    <br />
                                    {{ post.body }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el : '#feeds',
        delimiters: ['[[',']]'],
        data() {
            return {
                posts: [],
                body: '',
                user_posted : '{{ request.user.username }}',
                created_at : 'Now',
            }
        },
        methods: {
            submitPost() {
                // console.log('submitted');

                if(this.body.length > 0){
                    var newPost = {
                        'body' : this.body,
                        'user_posted' : this.user_posted,
                        'created_at' : this.created_at
                    };
                    // console.log(newPost);   
                    this.posts.unshift(newPost);

                    fetch('/api/add_post',{
                        method: "POST",
                        headers: {
                            'Content-Type' : 'application/json',
                            'X-CSRFToken' : '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(newPost)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                  
                }

                this.body = '';
            }
        }
    })
</script>
{% endblock %}