body {
  background: #fbfcfc;
}

.wrapper-feeds {
  margin-top: 30px;
}

.wrapper-feeds .feed {
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 2px;
  background: #fbfcfc;
}

.wrapper-feeds .feed .name {
  font-weight: bold;
}

.wrapper-feeds .feed .info {
  font-size: 14px;
  color: #aaa;
}

.follows-block {
  display: inline-flex;
  margin-right: 10px;
  padding: 20px;
  text-decoration: none;
  color: #7f8c8d !important;
}

.follows-block figure {
  margin-right: 20px;
}

.follows-block .followers a {
  margin-right: 20px;
  text-decoration: none;
  color: #7f8c8d !important;
}

.follows-block .following a {
  text-decoration: none;
  color: #7f8c8d !important;
}

.columns .column .is-8 p {
  padding-top: 20px;
}

.columns a {
  text-decoration: none;
  color: #7f8c8d !important;
}

.profile_verified {
  font-size: 20px !important;
  color: #2875c6;
}
